@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Colors */
:root {
  --primary-color: #fcc200;
  --light-color: #d4d4d4;
  --dark-color: #4d4d4d;
  --white: #fff;
  --black: #000;
}

/* Navbar section */
.navContainer {
  background-color: var(--black);
  border-bottom: var(--primary-color) 1px solid;
}
.navContainer .navbar-brand {
  color: var(--white);
  width: 200px;
  margin: 0;
  padding: 0;
}
.navContainer .navbar-brand img {
  max-height: 100px;
  height: 100%;
  width: 100%;
}
.navContainer .navbar-collapse {
  justify-content: flex-end;
}
.navContainer .navbar-collapse .txt-white .active {
  color: var(--primary-color);
}
.navContainer .navbar-collapse .txt-white .disabled {
  color: #808080;
}
.navContainer .navbar-collapse .txt-white a {
  color: var(--white);
}
.navContainer .navbar-collapse .txt-white a:hover {
  color: var(--light-color);
}
.navContainer .navbar-collapse ul li {
  margin: 0 20px;
}
.navContainer .dropdown-menu {
  background-color: var(--black);
}
.navContainer .dropdown-menu .dropdown-item {
  margin: auto;
  color: var(--white);
  background-color: var(--black);
}
.navContainer .dropdown-menu .dropdown-item:hover {
  background-color: var(--black);
  color: var(--light-color);
}
.navContainer .dropdown-menu .dropdown-divider {
  background-color: var(--primary-color);
}

/* Main Banner */
.splide {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.my-slider-progress {
  background: var(--dark-color);
}
.my-slider-progress-bar {
  background: var(--primary-color);
  height: 5px;
  transition: width 400ms ease;
  width: 0;
}

/* Sección Clientes */
.clientSection {
  padding: 2rem 0;
  background-color: var(--white);
  color: var(--primary-color);
  text-align: center;
}
.clientSection h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  height: 100px;
  margin: 3rem auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  max-height: 100px;
  max-width: 250px;
  width: 100%;
  height: 100%;
  margin: 0 3rem;
}

/* Presentación */
.presentation {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .card {
  background: rgba(212, 212, 212, 0.75);
  border-radius: 20px;
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(212, 212, 212, 0.07);
  margin: 2rem;
  height: auto;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
}
.presentation .card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.presentation .card .logo img {
  width: 100%;
  height: auto;
}
.presentation .card .text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 2rem;
}
.presentation .card .text h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.presentation .card .text p {
  text-align: justify;
}

/* Counter */
.counter {
  margin-top: 3rem;
  width: 100%;
  position: relative;
  background: #fff url(../assets/img/plant1.jpg) center center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: -2;
  overflow: hidden;
}
.counter:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.counter .row {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  margin: 4rem 2rem;
}
.counter .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter .row .col .counter-number {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}
.counter .row .col .counter-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}

/* Mapa Index */
.map-index {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}
.map-index h2 {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.map-index .map-image {
  margin: 3rem;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-index .map-image img {
  max-width: 70%;
}

/* Section Banner */
.section-banner {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
.section-banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  animation: zoom 30s infinite alternate;
  position: absolute;
  z-index: -2;
}
.section-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgb(0, 0, 0));
}
.section-banner .banner-text {
  position: absolute;
  width: 100%;
  top: 50%;
  right: 50%; /* Cambiamos 'left' por 'right' */
  transform: translate(50%, -50%); /* Ajustamos el valor de 'translate' */
  z-index: 1;
}
.section-banner .banner-text h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 3rem;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/* About Us */
.about {
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 2rem;
}
.about .text h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.about .text p {
  text-align: justify;
  padding: 0 5rem;
}

/* Founder */
.founder {
  margin-top: 3rem;
  width: 100%;
  position: relative;
  background: #fff url(../assets/img/belt1.jpg) center center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: -2;
  overflow: hidden;
  padding: auto;
}
.founder:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.founder .row {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  margin: 4rem 2rem;
}
.founder .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.founder .row .col .counter-number {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}
.founder .row .col .counter-title {
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}
.founder .card {
  background: rgba(212, 212, 212, 0.75);
  border-radius: 20px;
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(212, 212, 212, 0.07);
  margin: 2rem;
  height: 100%;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
}
.founder .card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.founder .card .img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
}
.founder .card .text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 2rem;
}
.founder .card .text h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.founder .card .text p {
  text-align: justify;
}

/* Staff Splide */
.staff-splide {
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
}
.staff-splide img {
  width: 100%;
}

/* Experience */
.experience {
  margin: 3rem 0;
}
.experience .title {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}
.experience .subtitle {
  font-size: 1.3rem;
  text-align: center;
}

.timeline {
  width: 100%;
  color: var(--black);
  padding: 30px 20px;
}
.timeline ul {
  list-style-type: none;
  border-left: 2px solid #094a68;
  padding: 10px 5px;
}
.timeline ul span {
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 10px 50px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
}
.timeline ul li {
  padding: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
}
.timeline ul li .content .col {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li .content .col .logo {
  width: 50%;
}
.timeline ul li .content .col img {
  width: 100%;
  border-radius: 20px;
}
.timeline ul li .content .col h3 {
  color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.timeline ul li .content .col p {
  font-size: 0.8rem;
  text-align: center;
}
.timeline ul li .content .col .toggle {
  z-index: 1;
}
.timeline ul li .content .col .project {
  display: none;
}
.timeline ul li .content .col .project.active {
  display: block;
}
.timeline ul li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  left: -11px;
  top: 28px;
  transition: 0.5s;
}
.timeline ul li:hover {
  border-radius: 20px;
}
.timeline ul li:hover:before {
  background-color: #0f0;
  box-shadow: 0px 0px 10px 2px #0f0;
}
@media (max-width: 300px) {
  .timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .timeline ul li .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}

/* Underground */
#displayEquipmentTab button {
  color: var(--dark-color);
  font-weight: bold;
}
#displayEquipmentTab button:hover {
  background-color: var(--light-color);
}
#displayEquipmentTab .active {
  background-color: var(--primary-color);
  border: none;
}

#displayEquipment h2 {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#displayEquipment h5 {
  color: var(--dark-color);
}

#tabs a {
  color: var(--dark-color);
}
#tabs a:hover {
  color: var(--primary-color);
}

.gallery {
  text-align: center;
}
.gallery a,
.gallery h3 {
  text-decoration: none;
  color: var(--dark-color);
}
.gallery a:hover i,
.gallery h3:hover i {
  color: var(--primary-color);
}

.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.catalog {
  height: 80vh;
  width: 100%;
}

/* footer */
.footer {
  background-color: var(--black);
  padding: 20px;
  text-align: center;
  border-top: var(--primary-color) 1px solid;
}
.footer .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer .footer-column {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.footer .footer-column:not(:last-child) {
  padding-right: 20px;
}
.footer .social-icons {
  margin-top: 10px;
}
.footer .social-icons a {
  display: inline-block;
  margin-right: 10px;
}
.footer .social-icons i {
  font-size: 24px;
  color: var(--white);
}
.footer .social-icons i:hover {
  color: var(--primary-color);
}
.footer img {
  max-width: 250px;
  margin-bottom: 2rem;
}
.footer p {
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer h3 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.footer ul {
  list-style-type: none;
  padding-left: 1rem;
}
.footer ul li {
  margin-bottom: 5px;
  margin: 0 auto;
  text-align: left;
}
.footer ul li:hover i {
  color: var(--primary-color);
}
.footer ul li:hover a {
  color: var(--primary-color);
}
.footer ul li i {
  color: var(--white);
  margin-right: 1rem;
}
.footer ul li a {
  color: var(--white);
  text-decoration: none;
}
.footer .footer-column:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
