@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Colors */
:root {
	--primary-color: #fcc200;
	--light-color: #d4d4d4;
	--dark-color: #4d4d4d;
	--white: #fff;
	--black: #000;
}

/* Navbar section */

.navContainer {
	background-color: var(--black);
	border-bottom: var(--primary-color) 1px solid;
	.navbar-brand {
		color: var(--white);
		width: 200px;
		margin: 0;
		padding: 0;
		img {
			max-height: 100px;
			height: 100%;
			width: 100%;
		}
	}
	.navbar-collapse {
		justify-content: flex-end;
		.txt-white {
			.active {
				color: var(--primary-color);
			}
			.disabled {
				color: #808080;
			}
			a {
				color: var(--white);
				&:hover {
					color: var(--light-color);
				}
			}
		}
		ul {
			li {
				margin: 0 20px;
			}
		}
	}
	.dropdown-menu {
		background-color: var(--black); // Fondo negro del dropdown

		.dropdown-item {
			margin: auto;
			color: var(--white); // Texto blanco de los enlaces
			background-color: var(--black); // Fondo negro del dropdown al pasar el cursor
			&:hover {
				background-color: var(--black); // Fondo negro del dropdown al pasar el cursor
				color: var(--light-color); // Color de texto al pasar el cursor sobre los enlaces
			}
		}
		.dropdown-divider {
			background-color: var(--primary-color);
		}
	}
}

/* Main Banner */

.splide {
	position: relative;
	width: 100%;
	height: 70vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	&__slide {
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
}

.my-slider-progress {
	background: var(--dark-color);
	&-bar {
		background: var(--primary-color);
		height: 5px;
		transition: width 400ms ease;
		width: 0;
	}
}

/* Sección Clientes */

.clientSection {
	padding: 2rem 0;
	background-color: var(--white);
	color: var(--primary-color);
	text-align: center;
	h2 {
		color: var(--primary-color);
		font-weight: bold;
		margin-bottom: 2rem;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	}
}

// Carrusel Imágenes Clientes

@mixin white-gradient {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 60s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

// Styling
.slider {
	background: white;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	height: 100px;
	margin: 3rem auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	&::before,
	&::after {
		@include white-gradient;
		content: '';
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	&::before {
		left: 0;
		top: 0;
	}
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	.slide {
		max-height: 100px;
		max-width: 250px;
		width: 100%;
		height: 100%;
		margin: 0 3rem;
	}
}

/* Presentación */

.presentation {
	padding: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	.card {
		background: rgba(212, 212, 212, 0.75);
		border-radius: 20px;
		backdrop-filter: blur(4.6px);
		-webkit-backdrop-filter: blur(4.6px);
		border: 1px solid rgba(212, 212, 212, 0.07);
		margin: 2rem;
		height: auto;
		box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 4rem;
			img {
				width: 100%;
				height: auto;
			}
		}
		.text {
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			align-items: center;
			padding: 2rem;
			h2 {
				color: var(--primary-color);
				font-weight: bold;
				margin-bottom: 2rem;
				text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
			}
			p {
				text-align: justify;
			}
		}
	}
}

/* Counter */

.counter {
	margin-top: 3rem;
	width: 100%;
	position: relative;
	background: #fff url(../assets/img/plant1.jpg) center center/cover no-repeat fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: -2;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	.row {
		display: flex;
		justify-content: center;
		align-items: space-between;
		flex-direction: row;
		margin: 4rem 2rem;
		.col {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.counter-number {
				font-size: 4rem;
				font-weight: bold;
				text-align: center;
				color: var(--white);
			}
			.counter-title {
				font-size: 1.5rem;
				text-align: center;
				color: var(--white);
			}
		}
	}
}

/* Mapa Index */
.map-index {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--primary-color);
	h2 {
		color: var(--white);
		font-weight: bold;
		margin-bottom: 2rem;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	}
	.map-image {
		margin: 3rem;
		object-fit: contain;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 70%;
		}
	}
}

/* Section Banner */

.section-banner {
	position: relative;
	width: 100%;
	height: 30vh;
	overflow: hidden;
	img {
		width: 100%;
		height: 30vh;
		object-fit: cover;
		animation: zoom 30s infinite alternate;
		position: absolute;
		z-index: -2;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
	}
	.banner-text {
		position: absolute;
		width: 100%;
		top: 50%;
		right: 50%; /* Cambiamos 'left' por 'right' */
		transform: translate(50%, -50%); /* Ajustamos el valor de 'translate' */
		z-index: 1;
		h2 {
			color: var(--primary-color);
			font-weight: bold;
			margin-bottom: 2rem;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
			margin-left: 20px;
			text-transform: uppercase;
			font-weight: bold;
			text-align: left;
			font-size: 3rem;
		}
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

/* About Us */

.about {
	padding: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	.text {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: center;
		padding: 2rem;
		h2 {
			color: var(--primary-color);
			font-weight: bold;
			margin-bottom: 2rem;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
		}
		p {
			text-align: justify;
			padding: 0 5rem;
		}
	}
}

/* Founder */

.founder {
	margin-top: 3rem;
	width: 100%;
	position: relative;
	background: #fff url(../assets/img/belt1.jpg) center center/cover no-repeat fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: -2;
	overflow: hidden;
	padding: auto;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	.row {
		display: flex;
		justify-content: center;
		align-items: space-between;
		flex-direction: row;
		margin: 4rem 2rem;
		.col {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.counter-number {
				font-size: 4rem;
				font-weight: bold;
				text-align: center;
				color: var(--white);
			}
			.counter-title {
				font-size: 1.5rem;
				text-align: center;
				color: var(--white);
			}
		}
	}
	.card {
		background: rgba(212, 212, 212, 0.75);
		border-radius: 20px;
		backdrop-filter: blur(4.6px);
		-webkit-backdrop-filter: blur(4.6px);
		border: 1px solid rgba(212, 212, 212, 0.07);
		margin: 2rem;
		height: 100%;
		box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
		.img {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			img {
				width: 100%;
				height: auto;
				border-radius: 20px;
				box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
			}
		}
		.text {
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			align-items: center;
			padding: 2rem;
			h2 {
				color: var(--primary-color);
				font-weight: bold;
				margin-bottom: 2rem;
				text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
			}
			p {
				text-align: justify;
			}
		}
	}
}

/* Staff Splide */

.staff-splide {
	width: 100%;
	max-height: 80vh;
	overflow: hidden;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
	img {
		width: 100%;
	}
}

/* Experience */
.experience {
	margin: 3rem 0;
	.title {
		font-size: 4rem;
		text-align: center;
		font-weight: bold;
	}
	.subtitle {
		font-size: 1.3rem;
		text-align: center;
	}
}

.timeline {
	width: 100%;
	color: var(--black);
	padding: 30px 20px;

	ul {
		list-style-type: none;
		border-left: 2px solid #094a68;
		padding: 10px 5px;

		span {
			display: inline-block;
			background-color: var(--primary-color);
			border-radius: 20px;
			padding: 10px 50px;
			font-size: 1.5rem;
			text-align: center;
			font-weight: bold;
			margin: 1rem 0;
		}

		li {
			padding: 20px;
			position: relative;
			cursor: pointer;
			transition: 0.5s;
			border-radius: 20px;

			.content {
				.col {
					margin: 1rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.logo {
						width: 50%;
					}

					img {
						width: 100%;
						border-radius: 20px;
					}

					h3 {
						color: var(--dark-color);
						// text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
						font-size: 1.5rem;
						font-weight: bold;
						text-align: center;
					}

					p {
						font-size: 0.8rem;
						text-align: center;
					}

					.toggle {
						z-index: 1;
					}

					.project {
						display: none;
						&.active {
							display: block;
						}
					}
				}
			}

			&:before {
				position: absolute;
				content: '';
				width: 10px;
				height: 10px;
				background-color: var(--primary-color);
				border-radius: 50%;
				left: -11px;
				top: 28px;
				transition: 0.5s;
			}

			&:hover {
				// background-color: var(--light-color);
				border-radius: 20px;

				&:before {
					background-color: #0f0;
					box-shadow: 0px 0px 10px 2px #0f0;
				}
			}
		}
	}

	@media (max-width: 300px) {
		width: 100%;
		padding: 30px 5px 30px 10px;

		ul li .content {
			h3 {
				color: #34ace0;
				font-size: 15px;
			}
		}
	}
}

/* Underground */

// Estilos del sidebar
#displayEquipmentTab {
	button {
		color: var(--dark-color);
		font-weight: bold;
		&:hover {
			background-color: var(--light-color);
		}
	}
	.active {
		background-color: var(--primary-color);
		border: none;
	}
}

#displayEquipment {
	h2 {
		color: var(--primary-color);
		font-weight: bold;
		margin-bottom: 2rem;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
	}
	h5 {
		color: var(--dark-color);
	}
}

#tabs {
	a {
		color: var(--dark-color);
		&:hover {
			color: var(--primary-color);
		}
	}
}

.gallery {
	text-align: center;
	a,
	h3 {
		text-decoration: none;
		color: var(--dark-color);
		&:hover {
			i {
				color: var(--primary-color);
			}
		}
	}
}

.centered-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.catalog {
	height: 80vh;
	width: 100%;
}

/* Contact */
.addresses {
	h2 {
		margin-bottom: 2rem;
		font-weight: bold;
	}
	ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		li {
			margin-bottom: 1rem;
			padding: 0 0.5rem;
			i {
				padding-right: 1rem;
			}
			a {
				text-decoration: none;
				color: var(--dark-color);
			}
			&:hover {
				i,
				a {
					color: var(--primary-color);
				}
			}
		}
	}
	.address {
		padding: 0 1rem;
		background-color: var(--light-color);
		border-radius: 20px;
		margin-bottom: 2rem;
		padding: 10px;
		box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
		h3 {
			text-align: center;
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
		}
		.list {
			display: flex;
			i {
				padding-right: 1rem;
			}
			a {
				text-decoration: none;
				color: var(--dark-color);
			}
			&:hover {
				i,
				a {
					color: var(--primary-color);
				}
			}
		}
	}
}

.contact {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		margin-bottom: 2rem;
		font-weight: bold;
	}
	form {
		.col {
			margin-bottom: 1rem;
			label {
				font-weight: bold;
			}
			input,
			select,
			textarea {
				box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
			}
		}
		button {
			background-color: var(--light-color);
			color: var(--dark-color);
			border: none;
			box-shadow: 10px 10px 25px -5px rgba(0, 0, 0, 0.5);
			&:hover {
				background-color: var(--dark-color);
				color: var(--light-color);
			}
		}
	}
}

/* footer */

.footer {
	background-color: var(--black);
	padding: 20px;
	text-align: center;
	border-top: var(--primary-color) 1px solid;
	.grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	.footer-column {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
		&:not(:last-child) {
			// border-right: 2px solid var(--primary-color);
			padding-right: 20px;
		}
	}
	.social-icons {
		margin-top: 10px;
		a {
			display: inline-block;
			margin-right: 10px;
		}
		i {
			font-size: 24px;
			color: var(--white);
			&:hover {
				color: var(--primary-color);
			}
		}
	}
	img {
		max-width: 250px;
		margin-bottom: 2rem;
	}
	p {
		color: var(--white);
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	h3 {
		color: var(--primary-color);
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
		text-align: left;
	}
	ul {
		list-style-type: none;
		padding-left: 1rem;
		li {
			margin-bottom: 5px;
			margin: 0 auto;
			text-align: left;
			&:hover {
				i {
					color: var(--primary-color);
				}
				a {
					color: var(--primary-color);
				}
			}
			i {
				color: var(--white);
				margin-right: 1rem;
			}
			a {
				color: var(--white);
				text-decoration: none;
			}
		}
	}
	.footer-column:last-child {
		margin-bottom: 0;
	}
}
